<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARjtyUzS2gXOoQX1ChnOF_BaVsG8L4hnk</string>
	<key>GCM_SENDER_ID</key>
	<string>1096197043942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoSample</string>
	<key>PROJECT_ID</key>
	<string>todo-app-30372</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-30372.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096197043942:ios:9c698b73fa28b3849ced27</string>
</dict>
</plist>